{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/changePassword.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Change password{% endblock %}

{% block body %}
  <div class="container">
    <h1>Change password</h1>
    {% if app.user %}
      <div class="info">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
      </div>
    {% endif %}
    <div class="alert-danger">
      {{ error }}
    </div>
    {{ form_errors(changePasswordForm) }}

    {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.plainPassword, {
            label: 'Password',
        }) }}

        <button type="submit" class="btn">Change password</button>
    {{ form_end(changePasswordForm) }}
  </div>
{% endblock %}
